body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,aaaaaa+100,7db9e8+100 */
    background: #eeeeee; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #eeeeee 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#eeeeee 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ffffff 0%,#eeeeee 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.sidebar {
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.25);
}

.sidebar-wrapper {
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.9) 0%,rgba(255,255,255,.5) 100%), url('../img/mike.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.card-icon {
    padding: 5px !important;
}

.col-lg-3 {
    flex: 0 0 475px;
    max-width: 475px;
}

.spacer {
    margin-top: 50px;
}

h1,
h3.card-title,
.metric-value {
    font-family: "Roboto Slab";
    letter-spacing: -1px;
}

.metric-value {
    color: #555;
    margin: 0;
}

a.card-header {
    padding: 0;
}

.metrics .card-footer {
    display: block;
}

.card {
    transition-property: opacity;
    transition-duration: .5s;
}

.card:hover {
    opacity: 1;
}

.card-warning {
    opacity: 0.9;
}

.card-ok {
    opacity: 0.8;
}

.card h3 {
    font-size: 2.2em;
}

.card h3 a,
.card .stats a {
    color: #333 !important;
    border-bottom: solid 3px rgba(0, 0, 0, .25);
}

.card .card-footer .stats span {
    display: inline-block;
    margin: 0 0.5em;
    position: relative;
    color: #333;
}
.card .card-footer .stats span + span:before {
    content: '/';
    position: absolute;
    left: -0.75em;
}

.card a.material-icons {
    color: #aaa !important;
}

.row.metrics .col-lg-2 {
    flex: 0 0 315px;
    max-width: 315px;
}

/**
pre {
    background: rgba(0,0,0, .9);
    border: solid 1px rgba(255,255,255, .75);
    color: #eee;
    padding: 1em 2em;
}
**/

