{% extends "_main.html" %}
{% block title %}{{ component.name | e }}{% endblock %}

{% block navbar %}
<a class="navbar-brand" href="/">{{ dashboard_name | e }}</a>
{% endblock %}


{% block content %}
       <div class="container-fluid">

            <div class="float-right">
                <a href="{{ _csv | e }}" class="badge badge-secondary">CSV</a>
                <!--<a href="{{ _json | e }}" class="badge badge-secondary">JSON</a>-->
                <a href="{{ _yaml | e }}" class="badge badge-secondary">YAML</a>
            </div>

            <h1>{{ component.name | e }}</h1>
            <h6>
                <a href="{{ component.docs | e }}" target="_blank">Component's documentation</a> |
                <a href="{{ component.repo | e }}" target="_blank">View the code on GitHub</a>
            </h6>

            <div class="spacer"></div>

            <h2>Component's metrics</h2>

            <div class="row metrics">
            <!-- metrics -->
                <div class="col-lg-2 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-icon card-header-warning">
                      <div class="card-icon">
                        <i class="material-icons"><i class="material-icons">content_copy</i></i>
                      </div>
                      <h5 class="card-title">Total score</h5>
                      <h3 class="metric-value">{{ score }}</h3>
                    </div>
                    <div class="card-footer">
                      &nbsp;
                    </div>
                  </div>
                </div>

{% for metric in metrics %}

                <div class="col-lg-2 col-md-6 col-sm-6x">
                  <div class="card card-stats{% if metric.value is none %} card-broken{%endif%}">
                    <div class="card-header card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">{{ metric.icon }}</i>
                      </div>
                      <h5 class="card-title">{{ metric.label | e }}</h5>
                      <h3 class="metric-value" title="{{ metric.raw_value }}">{{ metric.value or '-' }}</h3>
                      <!-- <p class="card-category">No change in the last 7 days</p> -->
                    </div>
                    <div class="card-footer">
                      <div class="float-right" title="Metric multiplier">{% if metric.weight != 1 %}x{{ metric.weight }}{% endif %}</div>
                      <div class="stats">
                        {% if metric.more_link %}
                          <a href="{{ metric.more_link[1] | e }}" target="_blank">{{ metric.more_link[0] | e }}</a>
                        {% endif %}
                        {% if metric.value is none %}
                          <span>Metric <tt>{{ metric.name | e }}</tt> failed</span>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
{% endfor %}

          <!-- end of metrics -->
          </div>

            <div class="spacer"></div>

            <h2>Component spec</h2>
            <pre>{{spec_yaml | e }}</pre>
        </div>
{% endblock %}
